@import "tailwindcss";

html,
body {
    min-height: 100%;
    height: auto;
    overflow-y: auto;
    font-family: var(--font-nexa);
}

/* Lenis compatibility */
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.font-nexa {
    font-family: var(--font-nexa);
}

.font-condensed {
    font-family: var(--font-roboto-condensed);
}


@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 550px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1360px;
    --breakpoint-3xl: 1680px;
}


@utility container {
    @apply mx-auto px-[15px];

    /* Set custom max-widths at each breakpoint */
    max-width: 100%;

    @media (width >=550px) {
        max-width: 520px;
    }

    @media (width >=640px) {
        max-width: 610px;
    }

    @media (width >=768px) {
        max-width: 740px;
    }

    @media (width >=868px) {
        max-width: 820px;
    }

    @media (width >=968px) {
        max-width: 900px;
    }

    @media (width >=1024px) {
        max-width: 1010px;
    }

    @media (width >=1100px) {
        max-width: 1080px;
    }

    @media (width >=1200px) {
        max-width: 1100px;
    }

    @media (width >=1300px) {
        max-width: 1230px;
    }

    @media (width >=1360px) {
        max-width: 1300px;
    }

    @media (width >=1460px) {
        max-width: 1400px;
    }

    @media (width >=1540px) {
        max-width: 1480px;
    }

    @media (width >=1680px) {
        max-width: 1650px;
    }
}


:root {
    --background: #ffffff;
    --primary: #ED1C24;
    --secondary: #1C1C1C;
    --color-paragraph: #7D7D7D;
    --color-border: #D9D9D9;

    /* Small text */
    --text-15: clamp(12px, 0.22vw + 12px, 15px);

    --text-16: clamp(13px, 0.22vw + 13px, 16px);

    --text-20: clamp(14px, 0.44vw + 14px, 20px);


    /* Medium headings */
    --text-32: clamp(24px, 0.59vw + 24px, 32px);


    /* Large headings */
    --text-60: clamp(28px, 2.9vw + 14px, 60px);
    --text-75: clamp(39px, 3.76vw + 23.9px, 75px);
    --text-82: clamp(44px, 2.79vw + 44px, 82px);
    --text-85: clamp(48px, 2.72vw + 48px, 85px);


    /* --space-40: clamp(25px, 2vw + 8px, 40px); */
    --space-40: clamp(25px, 1.1vw + 25px, 40px);

    /* --space-70: clamp(35px, 3vw + 8px, 70px); */
    --space-70: clamp(35px, 2.57vw + 35px, 70px);

    --space-100: clamp(40px, 4vw + 8px, 100px);
    /* --space-100: clamp(40px, 4.4vw + 40px, 100px); */

    /* --space-130: clamp(50px, 5vw + 16px, 130px); */
    --space-130: clamp(50px, 5.88vw + 50px, 130px);

    /* --space-150: clamp(60px, 6vw + 16px, 150px); */
    --space-150: clamp(60px, 6.62vw + 60px, 150px);
}


@theme inline {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-paragraph: var(--color-paragraph);
    --color-border: var(--color-border);
    --breakpoint-7xl: 103.125rem;
    --container-7xl: 98.125rem;

    --text-15: var(--text-15);
    --text-16: var(--text-16);
    --text-20: var(--text-20);
    --text-32: var(--text-32);
    --text-60: var(--text-60);
    --text-75: var(--text-75);
    --text-82: var(--text-82);
    --text-85: var(--text-85);

    --spacing-40: var(--space-40);
    --spacing-70: var(--space-70);
    --spacing-100: var(--space-100);
    --spacing-130: var(--space-130);
    --spacing-150: var(--space-150);

}

@utility text-15 {
    font-size: var(--text-15);
}

@utility text-16 {
    font-size: var(--text-16);
}

@utility text-20 {
    font-size: var(--text-20);
}

@utility text-32 {
    font-size: var(--text-32);
}

@utility text-60 {
    font-size: var(--text-60);
}

@utility text-75 {
    font-size: var(--text-75);
}

@utility text-82 {
    font-size: var(--text-82);
}

@utility text-85 {
    font-size: var(--text-85);
}


@keyframes hero-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes progress-bar-fill-sets-apart {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.animate-progress-bar-sets-apart {
    transform-origin: left;
    transform: scaleX(0);
    animation: progress-bar-fill-sets-apart 4s linear forwards;
    display: block;
}

@keyframes border-move {
    from {
        background-position: 0% 50%, 0% 50%;
    }

    to {
        background-position: 200% 50%, 200% 50%;
    }
}