@import "tailwindcss";

html,
body {
    min-height: 100%;
    height: auto;
    overflow-y: auto;
    font-family: var(--font-nexa);
}

/* Lenis compatibility */
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

@utility font-nexa {
    font-family: var(--font-nexa);
}

@utility font-condensed {
    font-family: var(--font-roboto-condensed);
}


@theme {
    --breakpoint-*: initial;
    --breakpoint-xs: 550px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1360px;
    --breakpoint-3xl: 1680px;
}


@utility container {
    @apply mx-auto px-[15px];

    /* Set custom max-widths at each breakpoint */
    max-width: 100%;

    @media (width >=550px) {
        max-width: 520px;
    }

    @media (width >=640px) {
        max-width: 610px;
    }

    @media (width >=768px) {
        max-width: 740px;
    }

    @media (width >=868px) {
        max-width: 820px;
    }

    @media (width >=968px) {
        max-width: 900px;
    }

    @media (width >=1024px) {
        max-width: 1010px;
    }

    @media (width >=1100px) {
        max-width: 1080px;
    }

    @media (width >=1200px) {
        max-width: 1140px;
    }

    @media (width >=1300px) {
        max-width: 1230px;
    }

    @media (width >=1360px) {
        max-width: 1300px;
    }

    @media (width >=1460px) {
        max-width: 1330px;
    }

    @media (width >=1540px) {
        max-width: 1400px;
    }

    @media (width >=1680px) {
        max-width: 1630px;
    }
}


:root {
    --background: #ffffff;
    --primary: #ED1C24;
    --secondary: #1C1C1C;
    --color-paragraph: #7D7D7D;
    --color-paragraph-2: #FDFDFD;
    --color-border: #D9D9D9;
    --color-light: #F9F9F9;

    /* Small text */
    --text-15: clamp(12px, 0.22vw + 12px, 15px);

    --text-16: clamp(13px, 0.22vw + 13px, 16px);
    --text-17: clamp(16px, 0.22vw + 15px, 17px);
    --text-20: clamp(14px, 0.44vw + 14px, 20px);


    /* Medium headings */
    --text-30: clamp(20px, 0.54vw + 20px, 30px);
    --text-32: clamp(24px, 2.5vw + 0.1em, 32px);
    --text-35: clamp(26px, 0.6vw + 26px, 35px);


    /* Large headings */
    --text-60: clamp(32px, 2.8vw + 14px, 60px);
    --text-66: clamp(36px, 2.35vw + 29.8px, 66px);

    --text-75: clamp(39px, 3.76vw + 23.9px, 75px);
    --text-82: clamp(44px, 2.79vw + 44px, 82px);
    --text-85: clamp(48px, 2.72vw + 48px, 85px);

    --spacing-30: clamp(20px, 0.44vw + 20px, 30px);

    /* --space-40: clamp(25px, 2vw + 8px, 40px); */
    --space-40: clamp(25px, 1.1vw + 25px, 40px);

    /* --space-70: clamp(35px, 3vw + 8px, 70px); */
    --space-70: clamp(35px, 2.57vw + 35px, 70px);

    --space-80: clamp(40px, 3vw + 8px, 80px);

    --space-100: clamp(44px, 4vw + 8px, 100px);
    /* --space-100: clamp(40px, 4.4vw + 40px, 100px); */

    --space-120: clamp(45px, 4vw + 8px, 120px);

    /* --space-130: clamp(50px, 5vw + 16px, 130px); */
    --space-130: clamp(50px, 6.72vw + 17px, 130px);

    /* --space-150: clamp(60px, 6vw + 16px, 150px); */
    --space-150: clamp(60px, calc(6.72vw + 47px), 150px);
}
@media (max-width:1600px){
    :root{
        --text-20: clamp(14px, 1.44vw + 14px, 18px);
        --text-32: clamp(24px, calc(2vw + 0.1rem), 28px);
    }
}

@theme inline {
    --font-family-sans: var(--font-nexa);

    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-paragraph: var(--color-paragraph);
    --color-paragraph-2: var(--color-paragraph-2);
    --color-border: var(--color-border);
    --color-light: var(--color-light);
    --breakpoint-7xl: 103.125rem;
    --container-7xl: 98.125rem;

    --text-15: var(--text-15);
    --text-16: var(--text-16);
    --text-17: var(--text-17);
    --text-20: var(--text-20);
    --text-30: var(--text-30);
    --text-32: var(--text-32);
    --text-60: var(--text-60);
    --text-66: var(--text-66);
    --text-75: var(--text-75);
    --text-82: var(--text-82);
    --text-85: var(--text-85);
    --spacing-30: var(--spacing-30);
    --spacing-40: var(--space-40);
    --spacing-70: var(--space-70);
    --spacing-80: var(--space-80);
    --spacing-100: var(--space-100);
    --spacing-120: var(--space-120);
    --spacing-130: var(--space-130);
    --spacing-150: var(--space-150);

}

@utility text-15 {
    font-size: var(--text-15);
}

@utility text-16 {
    font-size: var(--text-16);
}

@utility text-20 {
    font-size: var(--text-20);
}

@utility text-32 {
    font-size: var(--text-32);
}

@utility text-35 {
    font-size: var(--text-35);
}

@utility text-60 {
    font-size: var(--text-60);
}

@utility text-75 {
    font-size: var(--text-75);
}

@utility text-82 {
    font-size: var(--text-82);
}

@utility text-85 {
    font-size: var(--text-85);
}

@utility section-heading {
    @apply text-60 lg:text-66 3xl:text-75 font-condensed leading-[100%];
}

@utility section-description {
    @apply text-20 font-nexa leading-[1.5] font-bold text-paragraph;
}

@utility leading-1p5 {
    line-height: 1.5em;
}

@utility overflow_anim {
  @apply pb-1 -mb-1 overflow-hidden;
}

@keyframes hero-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes progress-bar-fill-sets-apart {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.animate-progress-bar-sets-apart {
    transform-origin: left;
    transform: scaleX(0);
    animation: progress-bar-fill-sets-apart 4s linear forwards;
    display: block;
}

@keyframes border-move {
    from {
        background-position: 0% 50%, 0% 50%;
    }

    to {
        background-position: 200% 50%, 200% 50%;
    }
}

/* expertise image aniamtion */
@keyframes kenBurns {
    from {
        transform: scale(1) translate(0px, 0px);
    }

    to {
        transform: scale(1.1) translate(8px, -6px);
    }
}

.cmn-p{
    @apply font-nexa text-20 leading-1p5 text-paragraph;
}